@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    font-family: 'poppins';
    border: none;
    padding: 0;
    margin: 0;
}


.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border: none;
    background-color: #333;
    color: white;
}

.cont {
    padding: 24px;
    margin: none;
}

.main {
    display: flex;
    position: relative;
    box-sizing: border-box;
    border: 5px;
    margin-left: 10px;
    padding: 15px;
}

.main p{
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    border: 5px;
    margin-left: 10px;
    padding: 15px;
}

.superidol {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: darksalmon;
}

.lanches {
    margin-left: 100px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}

.lanches p {
    color: green;
    font-size: large;
}

.lanches li {
    color: red;
    font-size: larger;

}

.bebidas {
    margin-left: 100px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.bebidas li {
    color: red;
    font-size: larger;
}

.bebidas p {
    color: purple;
    font-size: large;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative; 
}
