body {
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: 0 25px;
    padding: 0 20px;
}

.container:hover {
    color:blue;
    fading: 0.2s;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navlinks {
    color: green
    fading: 0.2s;
    transition: background 3s;
}

.navbar :hover {
    background-color: green;
}

.navlinks :hover {
    color: black;
}

.jogos {
    width: 600px;
    border: 2px;
    border-color: blue;
    border-radius: 10px;
}

.table p {
    font-size: 20px;
}